.card {
  margin-bottom: $grid-gutter-width;
  box-shadow: $card-shadow;
}

.card-header {
  border-bottom-width: 1px;
}

.card-title {
  font-size: $card-title-font-size;
  font-weight: $card-title-font-weight;
  color: $card-title-color;
}

.card-subtitle {
  font-weight: $font-weight-normal;
}

.card-img,
.card-img-top,
.card-img-bottom {
  @include img-fluid;

  @media all and (-ms-high-contrast:none) {
    height: 100%;
  }
}

.card > .table > tbody {
  tr:last-child td:first-child,
  tr:last-child th:first-child {
    border-bottom-left-radius: $card-border-radius;
  }
  tr:last-child td:last-child,
  tr:last-child th:last-child {
    border-bottom-right-radius: $card-border-radius;
  }
}

.cardtxtstat {
  color: $green;
}

.lbl-txt-field {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.txtfield-suffix {
  position: absolute;
  display: block;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3em;
}

.simple-txt-input {
  display: block;
  height: 50px;
  font-size: 1.3em;
}

.simple-txt-input-wrapper {
  position: relative;
  margin-right: 10px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-submit-button {
  margin-left: 10px;
  height: 50px;
  font-size: 1.2em;
}

table.bats-table td:nth-child(1),
table.bats-table th:nth-child(1)
{
  padding-left: 20px;
}

table.bats-table td:nth-child(4)
{
  display: flex;
  align-items: center;
}

.batrow {
  padding-left: 10px !important;
}

.batiment-label {
  font-size: 1.3em;
}

.my-percent-indicator {
  padding-left: 5px;
}